---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const dronePages = await getCollection("drones");
const batteryPages = await getCollection("batteries");
---

<Layout title="Drone Docs">
	<h2>Drones</h2>
	<ul>
		{
			dronePages.map((page) => {
				return (
					<li>
						<a href={`/drones/${page.slug}`}>{page.data.title}</a>
					</li>
				);
			})
		}
	</ul>

	<h2>Batteries</h2>
	<a href="https://amp-set.netlify.app">Charging Amp Calculator</a>
	<ul>
		{
			batteryPages.map((page) => {
				return (
					<li>
						<a href={`/batteries/${page.slug}`}>
							{page.data.title}
						</a>
					</li>
				);
			})
		}
	</ul>
</Layout>

<style></style>
